<footer class="container py-5 flex-1 bg">
  <label for="newsletter" class=""
    >Inscríbete a nuestra newsletter para estar informado de los eventos</label
  >
  <div class="input-group max-w-30rem mx-auto">
    <input type="email" placeholder="Escribe tu email" id="newsletter" />
    <p-button [outlined]="false" label="Enviar" styleClass="colorButton" />
  </div>
  <nav>
    <ul>
      <li><a routerLink="cookies"> Cookies </a></li>
      <li><a routerLink="conditions"> Términos y condiciones de uso </a></li>
      <li><a routerLink="privacity"> Política de privacidad </a></li>
      <li><a routerLink="contact"> Contáctanos </a></li>
    </ul>
  </nav>
  <div class="social-icons">
    <a href="https://es-es.facebook.com/"
      ><i
        class="pi pi-facebook fab fa-facebook-f"
        style="color: #3b5998; font-size: 2rem"
      ></i
    ></a>
    <a href="https://instagram.com"
      ><i
        class="pi pi-instagram fab fa-instagram"
        style="color: red; font-size: 2rem"
      ></i
    ></a>
    <a href="https://www.tiktok.com"
      ><i
        class="pi pi-tiktok fab fa-tiktok"
        style="color: deeppink; font-size: 2rem"
      ></i
    ></a>
  </div>
</footer>
