.container {
  /*max-width: 1200px; !* Ancho máximo del contenedor para centrar el contenido *!*/
  width: auto;
  margin: auto;
  background-image: linear-gradient(
    to top,
    rgba(253, 205, 18, 0.5),
    rgba(255, 179, 0, 0.5),
    rgba(255, 152, 0, 0.5),
    rgba(254, 123, 0, 0.5),
    rgba(250, 91, 0, 0.5),
    rgba(255, 76, 43, 0.5),
    rgba(255, 59, 68, 0.5),
    rgba(255, 53, 90, 0.5),
    rgba(255, 86, 138, 0.5),
    rgba(255, 119, 181, 0.5),
    rgba(255, 150, 214, 0.5),
    rgba(255, 180, 247, 0.5)
  );
  color: #333;
  text-align: center;
  justify-content: center;
  li {
    display: inline-block;
    padding: 1em;
    justify-content: space-around;
    font-size: medium;
  }
}

.input-group {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem; /* Espacio entre el input y el botón */
}

input[type='email'] {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  flex: 1; /* El input se expande para ocupar el espacio disponible */
}

button {
  padding: 1rem 2rem;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 2rem; /* Espacio entre los iconos */
}

.social-icons a {
  font-size: 1rem; /* Tamaño de los iconos */
  color: #333;
}

/* Media queries para ajustar el diseño a diferentes tamaños de pantalla */
@media (max-width: 768px) {
  .container {
    max-width: 95%; /* El contenedor ocupa casi todo el ancho en pantallas pequeñas */
  }

  .social-icons {
    flex-direction: column; /* Los iconos se apilan uno encima del otro */
  }

  input[type='email'] {
    width: 100%; /* El input ocupa el ancho disponible */
  }
}

@media (max-width: 576px) {
  /* Ajustes adicionales para pantallas aún más pequeñas */
  footer {
    padding: 1rem;
  }
}
@media (max-width: 1200px) {
}
