<footer>
  <div class="container">
    <div class="input-group">
      <input type="email" placeholder="Escribe tu email">
      <button>Submit</button>
    </div>
    <p>prueba</p>
    <div class="social-icons">
      <a href="#"><i class="pi pi-facebook fab fa-facebook-f" style="color: #3b5998"></i></a>
      <a href="#"><i class="pi pi-instagram fab fa-instagram" style="color: red"></i></a>
      <a href="#"><i class="pi pi-tiktok fab fa-tiktok" style="color: deeppink"></i></a>
    </div>
  </div>
</footer>
