:host ::ng-deep {
  .styleTab a {
    background: var(--pinky);
    border: 1px solid #d600d9;
    color: var(--myRed);
  }
}
#logo {
}
.styleTab2 > a {
  background: var(--pinky);
  border: 1px solid #d600d9;
  color: var(--myRed);
}
