<div class="flex justify-content-center flex-wrap">
  <div class="p-4 shadow-2 border-round w-full lg:w-6">
    <div class="text-center mb-5">
      <img
        ngSrc="/imgRegisterBig.png"
        alt="Image"
        height="200"
        width="250"
        class="mb-3"
      />
      <div class="text-900 text-3xl font-medium mb-3">
        Bienvenid&#64;s, mánagers!
      </div>
      <span class="text-600 font-medium line-height-3"></span>
      <a
        routerLink="/login"
        class="font-medium no-underline ml-2 text-blue-500 cursor-pointer"
        >Para darlo de alta tienes que tener una cuenta de usuario</a
      >
    </div>

    <form [formGroup]="createPremiseForm" (ngSubmit)="onCreate()">
      <label for="contact" class="block text-900 font-medium mb-2"
        >Persona de contacto:
      </label>
      <input
        [formControlName]="'person_contact'"
        type="text"
        placeholder="Nombre y/o apellido"
        pInputText
        id="contact"
        aria-describedby="name-help"
        class="w-full mb-3"
      />

      <label for="namePremise" class="block text-900 font-medium mb-2"
        >Nombre del local:
      </label>
      <input
        [formControlName]="'name'"
        type="text"
        placeholder="Nombre del local"
        pInputText
        id="namePremise"
        aria-describedby="name-help"
        class="w-full mb-3"
      />

      <label for="email" class="block text-900 font-medium mb-2">Email: </label>
      <input
        [formControlName]="'email'"
        id="email"
        type="email"
        placeholder="correo@dominio.com"
        pInputText
        class="w-full mb-3"
      />

      <label for="address" class="block text-900 font-medium mb-2"
        >Dirección:
      </label>
      <input
        [formControlName]="'address'"
        type="text"
        placeholder="Escribe tu dirección"
        pInputText
        id="address"
        aria-describedby="name-help"
        class="w-full mb-3"
      />

      <label for="phone" class="block text-900 font-medium mb-2"
        >Teléfono:
      </label>
      <input
        [formControlName]="'phone_number'"
        type="tel"
        pattern="^(\+34|0034|34)?[6-9]\d{8}$"
        pInputText
        id="phone"
        placeholder="Escribe tu teléfono"
        aria-describedby="name-help"
        class="w-full mb-3"
      />

      <label for="web" class="block text-900 font-medium mb-2">Web: </label>
      <input
        [formControlName]="'web'"
        type="text"
        placeholder="Web o red social"
        pInputText
        id="web"
        aria-describedby="name-help"
        class="w-full mb-3"
      />
      <br />
      <div id="scheduleDiv" [formGroupName]="'schedule'">
        <p>Horario semanal:</p>
        <label for="monday">Lunes:</label><br />
        <p-inputMask
          id="monday"
          mask="99:99 - 99:99"
          [formControlName]="'Monday'"
          placeholder="00:00 - 23:59"
        /><br />

        <label for="tuesday">Martes:</label><br />
        <p-inputMask
          id="tuesday"
          mask="99:99 - 99:99"
          [formControlName]="'Tuesday'"
          placeholder="00:00 - 23:59"
        /><br />

        <label for="wednesday">Miércoles:</label><br />
        <p-inputMask
          id="wednesday"
          mask="99:99 - 99:99"
          [formControlName]="'Wednesday'"
          placeholder="00:00 - 23:59"
        /><br />

        <label for="thursday">Jueves:</label><br />
        <p-inputMask
          id="thursday"
          mask="99:99 - 99:99"
          [formControlName]="'Thursday'"
          placeholder="00:00 - 23:59"
        /><br />

        <label for="friday">Viernes:</label><br />
        <p-inputMask
          id="friday"
          mask="99:99 - 99:99"
          [formControlName]="'Friday'"
          placeholder="00:00 - 23:59"
        /><br />

        <label for="saturday">Sábado:</label><br />
        <p-inputMask
          id="saturday"
          mask="99:99 - 99:99"
          [formControlName]="'Saturday'"
          placeholder="00:00 - 23:59"
        /><br />

        <label for="sunday">Domingo:</label><br />
        <p-inputMask
          id="sunday"
          mask="99:99 - 99:99"
          [formControlName]="'Sunday'"
          placeholder="00:00 - 23:59"
        /><br />
      </div>
      <br /><br />
      <p>Añade una imagen de perfil en formato JPG o PNG</p>
      <input type="file" (change)="fileChangeEvent($event)" />
      <div class="cropper-wrapper" *ngIf="imageChangedEvent !== null">
        <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [onlyScaleDown]="true"
          [aspectRatio]="4 / 3"
          [maintainAspectRatio]="false"
          output="blob"
          format="png"
          (imageCropped)="imageCropped($event)"
        >
        </image-cropper>
      </div>
      <br />
      <br />

      <app-map (handleMapClick)="handleMapClick($event)"></app-map>

      <div class="flex align-items-center justify-content-between mb-6">
        <div class="flex align-items-center">
          <p-checkbox
            [binary]="true"
            [(ngModel)]="isChecked"
            [ngModelOptions]="{ standalone: true }"
            [label]="
              'Confirmo que soy mayor de 18 años y acepto los términos y condiciones'
            "
            class="text-900"
            inputId="confirm"
          >
          </p-checkbox>
        </div>
        <br /><br />
      </div>
      {{ createPremiseForm.errors }}
      <div class="flex align-items-center justify-content-around mb-6">
        <p-button
          [disabled]="!isChecked"
          (click)="createPremise()"
          type="submit"
          label="Crear local"
          class="p-button-success"
          severity="success"
        ></p-button>
        <p-button
          (click)="createPremiseForm.reset()"
          label="Borrar datos"
          severity="danger"
        />
      </div>
    </form>
  </div>
</div>
