<div class="surface-section px-4 py-8 md:px-6 lg:px-9 bg">
  <div class="text-white-700 text-center">
    <!--    <div class="text-blue-600 font-bold mb-3"><i class="pi pi-discord"></i>&nbsp;POWERED BY DISCORD</div>-->
    <div class="text-900 font-bold text-5xl mb-3 text-white">Sal a bailar</div>
    <div class="text-700 text-2xl mb-5 text-white">
      Conoce los eventos y clases de moda. Conecta y asiste con otros
      bailarines.
    </div>
    <button
      pButton
      pRipple
      icon="pi pi-user"
      class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap bgRed border-none"
      (click)="onRegister()"
    >
      &nbsp; Regístrate gratis
    </button>
  </div>
</div>

<div class="mxrem">
  <p-carousel
    [value]="eventsList"
    [numVisible]="3"
    [numScroll]="3"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    autoplayInterval="3000"
  >
    <ng-template let-event pTemplate="item">
      <div class="border-1 surface-border border-round m-2 p-3">
        <div class="mb-3">
          <div class="relative mx-auto">
            <img
              src="{{
                event.images.length > 0 ? event.images[0].url : '/noimage.jpg'
              }}"
              [alt]="event.name"
              class="w-full border-round"
            />
            <!--          <p-tag-->
            <!--            [value]="event.inventoryStatus"-->
            <!--            [severity]="getSeverity(event.inventoryStatus)"-->
            <!--            class="absolute"-->
            <!--            [ngStyle]="{ 'left.px': 5, 'top.px': 5 }" />-->
          </div>
        </div>
        <div class="mb-3 font-medium text-red-500">
          {{ event.name }}
        </div>
        <div class="flex justify-content-between align-items-center">
          <div class="mt-0 font-semibold text-xl">
            {{ event.price + ' €' }}
          </div>
          <span>
            <p-button icon="pi pi-heart" severity="danger" [outlined]="true" />
            <p-button
              icon="pi pi-shopping-cart"
              styleClass="ml-2"
              severity="danger"
            />
          </span>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
