<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cookies BailAPPega2</title>
</head>
<body>
<h1></h1>
<h1>Cookies</h1>
<p>Una Cookie es un fichero que se descarga en su ordenador al acceder a determinadas páginas web. Las cookies permiten a una página web, entre otras cosas, almacenar y recuperar información sobre los hábitos de navegación de un usuario o de su equipo y, dependiendo de la información que contenga y de la forma en que utilice su equipo, pueden utilizarse para reconocer al usuario.

  Las cookies son esenciales para el funcionamiento de internet, aportando innumerables ventajas en la prestación de servicios interactivos, facilitándole la navegación y usabilidad de nuestra web.

  La información que le proporcionamos a continuación, le ayudará a comprender los diferentes tipos de cookies:</p>

<table>
  <tbody>
  <tr>
    <td colspan="3">
      <p>TIPOS DE COOKIES</p>
    </td>
  </tr>
  <tr>
    <td rowspan="2">
      <p>SEGÚN LA ENTIDAD QUE LO GESTIONE</p>
    </td>
    <td>
      <p>Cookies propias</p>
    </td>
    <td>
      <p>Son aquellas que se recaban por el propio editor para prestar el servicio solicitado por el usuario.</p>
    </td>
  </tr>
  <tr>
    <td>
      <p>Cookies de terceros</p>
    </td>
    <td>
      <p>Son aquellas que son recabadas y gestionadas por un tercero, estas no se pueden considerar propias.</p>
    </td>
  </tr>
  <tr>
    <td rowspan="2"><p></p>SEGÚN EL PLAZO DE TIEMPO QUE PERMANEZCAN ACTIVADAS</td>
    <td>
      <p>Cookies de sesión</p>
    </td>
    <td>
      <p>Recaban datos mientras el usuario navega por la red con la finalidad de prestar el servicio solicitado.</p>
    </td>
  </tr>
  <tr>
    <td>
      <p>Cookies persistentes</p>
    </td>
    <td>
      <p>Se almacenan en el terminal y la información obtenida, será utilizada por el responsable de la cookie con la finalidad de prestar el servicio solicitado.</p>
    </td>
  </tr>
  <tr>
    <td rowspan="5">
      <p>SEGÚN SU FINALIDAD</p>
    </td>
    <td>
      <p>Cookies técnicas</p>
    </td>
    <td>
      <p>Son las necesarias para la correcta navegación por la web.</p>
    </td>
  </tr>
<tr>
  <td>
    <p>Cookies de personalización</p></td>
  <td>
    <p>Permiten a usuario las características (idioma) para la navegación por el sitio web.</p></td>
</tr>
  <tr>
    <td>
      <p>Cookies de análisis</p></td>
    <td>
      <p>Permiten al prestador el análisis vinculado a la navegación realizada por el usuario, con la finalidad de llevar un seguimiento de uso de la página web, así como realizar estadísticas de los contenidos más visitados, número de visitantes, etc.</p></td>
  </tr>
  <tr>
    <td>
      <p>Cookies publicitarias</p>
    </td>
    <td>
      <p>Permiten al editor incluir en la web, espacios publicitarios, según el contenido de la propia web.</p>
    </td>
  </tr>
  <tr>
    <td>
      <p>Cookies de publicidad comportamental</p>
    </td>
    <td>
      <p>Permiten al editor incluir en la página web espacios publicitarios según la información obtenida a través de los hábitos de navegación del usuario.</p>
    </td>
  </tr>
  </tbody>
</table>
<p>Según lo dispuesto en el artículo 22.2 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico (LSSI-CE), BailAPPega2 S.L. informa de las cookies utilizadas en nuestra website:</p>
<table>
  <tbody>
  <tr>
    <td>&nbsp;</td>
    <td><p>Cookies propias</p></td>
    <td><p>Cookies de terceros</p></td>
    <td><p>Cookies de sesión</p></td>
    <td><p>Cookies persistentes</p></td>
  </tr>
  <tr>
    <td><p>Cookies técnicas</p></td>
    <td><p>Sí</p></td>
    <td>&nbsp;</td>
    <td><p>Sí</p></td>
    <td><p>Sí</p></td>
  </tr>
  <tr>
    <td><p>Cookies de personalización</p></td>
    <td><p>Sí</p></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><p>Sí</p></td>
  </tr>
  <tr>
    <td><p>Cookies de análisis</p></td>
    <td>&nbsp;</td>
    <td><p>Sí</p></td>
    <td>&nbsp;</td>
    <td><p>Sí</p></td>
  </tr>
  <tr>
    <td><p>Cookies de publicitarias</p></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr><td><p>Cookies de publicidad comportamental</p></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td></tr>
  </tbody>
</table>
<p>La aplicación que BailAPPega2 S.L utiliza para obtener y analizar la información de la navegación es:&nbsp;<strong>Google Analytics</strong>: Puede consultar su política de cookies a través de los siguientes enlaces:</p>
<p><a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage" target="_blank">https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage</a></p>
<p><a href="https://support.google.com/analytics/answer/6004245" target="_blank">https://support.google.com/analytics/answer/6004245</a></p>
<p>Asimismo, BailAPPega2 S.L. informa al usuario de que tiene la posibilidad de configurar su navegador de modo que se le informe de la recepción de cookies, pudiendo, si así lo desea, impedir que sean instaladas en su disco duro. &nbsp;</p>
<p>A continuación le proporcionamos los enlaces de diversos navegadores, a través de los cuales podrá realizar dicha configuración:</p>
<p>
  <strong>Firefox desde aquí:</strong>
  <a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we" target="_blank">https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we</a>
</p>
<p>
  <strong>Chrome desde aquí:</strong>
  <a href="https://support.google.com/chrome/answer/95647?hl=es" target="_blank">https://support.google.com/chrome/answer/95647?hl=es</a>
</p>
<p>
  <strong>Safari desde aquí:</strong>
  <a href="https://support.apple.com/es-es/guide/safari/sfri11471/mac" target="_blank">https://support.apple.com/es-es/guide/safari/sfri11471/mac</a>
</p>
<p>
  <strong>Microsoft Edge desde aquí:</strong>
  <a href="https://support.microsoft.com/es-es/windows/administrar-cookies-en-microsoft-edge-ver-permitir-bloquear-eliminar-y-usar-168dab11-0753-043d-7c16-ede5947fc64d#ie=ie-10" target="_blank">https://support.microsoft.com/es-es/windows/administrar-cookies-en-microsoft-edge-ver-permitir-bloquear-eliminar-y-usar-168dab11-0753-043d-7c16-ede5947fc64d#ie=ie-10</a>
</p>
<p>
  <strong>Opera desde aquí:</strong>
  <a href="https://help.opera.com/en/latest/web-preferences/#cookies" target="_blank">https://help.opera.com/en/latest/web-preferences/#cookies</a>
</p>
</body>
</html>

