<p-tabView styleClass="tabview-custom goriStyles">
  <p-tabPanel header="Mis datos">
    <ng-template class="container" pTemplate="header">
      <div class="flex align-items-start gap-2">
        <i
          class="pi pi-user"
          style="font-size: 1rem; color: var(--yellorange)"
        ></i>
        <span class="font-bold white-space-nowrap m-0">Mis datos</span>
      </div>
    </ng-template>
    <div class="flex justify-content-center flex-wrap BgImg">
      <div class="p-4 shadow-2 border-round w-full lg:w-6 text-align-last">
        <div class="text-center mb-5">
          <form
            [formGroup]="myAccountForm"
            (ngSubmit)="onValidateFormUser()"
            *ngIf="myUser"
          >
            <!-- IMAGE -->
            <div class="w-full relative border-round-sm">
              <div class="relative border-round-sm">
                <p-image
                  imageClass="border-round-lg"
                  class="block xl:block mx-auto w-full"
                  src="{{
                    myUser.images && myUser.images.length > 0
                      ? myUser.images![0].url
                      : '/NOimgUser.png'
                  }}"
                  alt="imagen de perfil"
                  width="150"
                  [preview]="true"
                ></p-image>

                <input type="file" (change)="fileChangeEvent($event)" />

                <image-cropper
                  [imageChangedEvent]="imageChangedEvent"
                  [maintainAspectRatio]="true"
                  [aspectRatio]="4 / 3"
                  format="png"
                  (imageCropped)="imageCropped($event)"
                  style="width: fit-content"
                >
                </image-cropper>
                <!-- NOMBRE -->
                <label for="yourname" class="block text-900 font-medium mb-2"
                  >Nombre:
                </label>
                <input
                  [formControlName]="'name'"
                  type="text"
                  placeholder="{{ myUser.name }}"
                  pInputText
                  id="yourname"
                  aria-describedby="name-help"
                  class="w-full mb-3"
                />

                <small
                  *ngIf="
                    myAccountForm.get('name')?.dirty &&
                    myAccountForm.get('name')?.hasError('required')
                  "
                  id="name-help"
                  >{{ myAccountForm.get('name')?.getError('required') }}
                </small>

                <!-- DESCRIPCIÓN PERSONAL -->
                <label for="description" class="block text-900 font-medium mb-2"
                  >Descripción:
                </label>
                <input
                  [formControlName]="'description'"
                  id="description"
                  type="text"
                  placeholder="{{ myUser.description }}"
                  pInputText
                  class="w-full mb-3"
                />
                <!-- GENRE -->
                <label for="Male">Género: </label>
                <br />
                <br />
                <div class="flex flex-wrap gap-3">
                  <div class="flex align-items-center">
                    <p-radioButton
                      name="genre"
                      value="Male"
                      [formControlName]="'genre'"
                      inputId="Male"
                      id="Male"
                    />
                    <label for="Male" class="ml-2"> Hombre </label>
                  </div>

                  <div class="flex align-items-center">
                    <p-radioButton
                      name="genre"
                      value="Female"
                      [formControlName]="'genre'"
                      inputId="Female"
                      id="Female"
                    />
                    <label for="Female" class="ml-2"> Mujer </label>
                  </div>

                  <div class="flex align-items-center">
                    <p-radioButton
                      name="genre"
                      value="Others"
                      [formControlName]="'genre'"
                      inputId="Others"
                      id="Others"
                    />
                    <label for="Others" class="ml-2"> Otros </label>
                  </div>
                </div>
                <br />

                <!-- LOCALIDAD -->
                <!--                <label for="location" class="block text-900 font-medium mb-2"-->
                <!--                >Localidad:-->
                <!--                </label>-->
                <!--                <input-->
                <!--                  [formControlName]="'location'"-->
                <!--                  type="text"-->
                <!--                  placeholder="{{ myUser.location }}"-->
                <!--                  pInputText-->
                <!--                  id="location"-->
                <!--                  aria-describedby="name-help"-->
                <!--                  class="w-full mb-3"-->
                <!--                />-->
                <!-- EMAIL -->
                <label for="email1" class="block text-900 font-medium mb-2"
                  >Email:
                </label>
                <input
                  [formControlName]="'email'"
                  id="email1"
                  type="text"
                  placeholder="{{ myUser.email }}"
                  pInputText
                  class="w-full mb-3"
                />
                <br />
                <br />
                <!-- BIRTHDAY -->
                <label for="birthday" class="block text-900 font-medium mb-2"
                  >Cumpleaños:
                </label>
                <p-calendar
                  [formControlName]="'birthday'"
                  [showIcon]="true"
                  placeholder="{{ myUser.birthday }}"
                  dateFormat="yy.mm.dd"
                  class="w-full mb-3"
                  id="birthday"
                />
                <br />
                <br />
                <label for="styles" class="block text-900 font-medium mb-2"
                  >Estilos conocidos:
                </label>
                <!--        &lt;!&ndash; STYLES &ndash;&gt; |async pipe-->

                <p-multiSelect
                  id="styles"
                  [options]="stylesList"
                  [formControlName]="'styles'"
                  placeholder="Seleccionalos"
                  optionLabel="name"
                  display="chip"
                  [showClear]="true"
                />
                <br />
                <br />
                <label for="password" class="block text-900 font-medium mb-2"
                  >Contraseña:
                </label>
                <!-- PASSWORD -->
                <p-password
                  [formControlName]="'password'"
                  [toggleMask]="true"
                  id="password"
                >
                  <ng-template pTemplate="header">
                    <h6>Escoge una contraseña</h6>
                  </ng-template>
                  <ng-template pTemplate="footer">
                    <p-divider />
                    <p class="mt-2">Sugerencias</p>
                    <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                      <li>Al menos una minúscula</li>
                      <li>Al menos una mayúscula</li>
                      <li>Al menos un número</li>
                      <li>Mínimo 8, máximo 20 caracteres</li>
                    </ul>
                  </ng-template>
                </p-password>
                <br />
                <br />
                <div
                  class="flex align-items-center justify-content-around mb-6"
                >
                  <p-button
                    (click)="modifyUser()"
                    type="submit"
                    label="Modificar cuenta"
                    class="p-button-success"
                    severity="success"
                  ></p-button>
                  <p-button
                    (click)="myAccountForm.reset()"
                    label="Borrar datos"
                    severity="danger"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!--      <label for="delete">¿Quieres eliminar tu cuenta de usuario?</label>-->
    <!--      <input type="button" id="delete" (click)="deleteUser()">-->
  </p-tabPanel>

  <p-tabPanel header="Mis locales" *ngIf="premisesAllowed()">
    <ng-template class="container" pTemplate="header">
      <div class="flex align-items-center gap-2">
        <i
          class="pi pi-home"
          style="font-size: 1rem; color: var(--yellorange)"
        ></i>
        <span class="font-bold white-space-nowrap m-0">Mis locales</span>
      </div>
    </ng-template>

    <form [formGroup]="updatePremiseForm" (ngSubmit)="onValidatePremiseForm()">
      <p-table
        [value]="premisesList"
        [paginator]="true"
        [rows]="2"
        [rowsPerPageOptions]="[3, 4, 6]"
        dataKey="id"
        editMode="row"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template pTemplate="header">
          <a routerLink="/form-premise"> + Añadir un nuevo local </a>

          <tr>
            <th style="display: none">Id</th>
            <th style="width: 11%">Foto</th>
            <th style="width: 12%">Nombre</th>
            <th style="width: 20%">Dirección</th>
            <th style="width: 09%">Email</th>
            <th style="width: 08%">Web</th>
            <th style="width: 10%">Teléfono</th>
            <th style="width: 10%">Persona de contacto</th>
            <th style="width: 10%">Horario</th>
            <th style="width: 10%">Localización</th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-premise
          let-editing="editing"
          let-ri="rowIndex"
        >
          <tr [pEditableRow]="premise">
            <td style="display: none">
              <input
                type="hidden"
                value="'premise.id'"
                [formControlName]="'id'"
              />
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <label for="files" class="customButton"
                    >Selecciona una imagen</label
                  >
                  <input
                    type="file"
                    id="files"
                    hidden
                    (change)="fileChangeEvent($event)"
                  />
                  <image-cropper
                    [imageChangedEvent]="imageChangedEvent"
                    [maintainAspectRatio]="true"
                    [aspectRatio]="4 / 3"
                    format="png"
                    (imageCropped)="imageCropped($event)"
                    style="width: fit-content"
                  >
                  </image-cropper>
                </ng-template>
                <ng-template pTemplate="output">
                  <div class="relative border-round-sm">
                    <p-image
                      imageClass="border-round-lg mx-auto"
                      src="{{
                        premise.images && premise.images.length > 0
                          ? premise.images![0].url
                          : '/noimage.jpg'
                      }}"
                      alt="imagen de perfil"
                      width="150"
                      [preview]="true"
                    ></p-image>
                  </div>
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [formControlName]="'name'" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ premise.name }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input
                    pInputText
                    type="text"
                    [formControlName]="'address'"
                    required
                  />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ premise.address }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [formControlName]="'email'" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ premise.email }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [formControlName]="'web'" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ premise.web ? premise.web : 'No definido' }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input
                    pInputText
                    type="text"
                    [formControlName]="'phone_number'"
                  />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ premise.phone_number }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input
                    pInputText
                    type="text"
                    [formControlName]="'person_contact'"
                    required
                  />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ premise.person_contact }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <p-button label="Editar horario" />
                </ng-template>
                <ng-template pTemplate="output">
                  <p-button label="Ver horario" />
                  <!--            botón ver horarios         (onClick)="showDialogSchedule(premise.id)"-->
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="output">
                  <p-button
                    (onClick)="showDialogGps()"
                    label="Ver localización"
                  />
                </ng-template>
                <ng-template pTemplate="input">
                  <p-button
                    (onClick)="showDialogGps()"
                    label="Editar localización"
                  />
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <div class="flex align-items-center justify-content-center gap-2">
                <p-button
                  label=""
                  *ngIf="!editing"
                  pRipple
                  type="button"
                  pInitEditableRow
                  icon="pi pi-pencil"
                  (click)="onRowEditInitP(premise)"
                  class="p-button-rounded p-button-text"
                />
                <p-button
                  *ngIf="editing"
                  pRipple
                  type="button"
                  pSaveEditableRow
                  icon="pi pi-check"
                  (click)="onRowEditSaveP(premise)"
                  class="p-button-rounded p-button-text p-button-success mr-2"
                />
                <p-button
                  label=""
                  *ngIf="editing"
                  pRipple
                  type="button"
                  pCancelEditableRow
                  icon="pi pi-times"
                  (click)="onRowEditCancelP(premise, ri)"
                  class="p-button-rounded p-button-text p-button-danger"
                />
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </form>
  </p-tabPanel>
  <p-tabPanel header="Mis eventos" *ngIf="premisesAllowed()">
    <ng-template class="container" pTemplate="header">
      <div class="flex align-items-center gap-2">
        <i
          class="pi pi-calendar"
          style="font-size: 1rem; color: var(--yellorange)"
        ></i>
        <span class="font-bold white-space-nowrap m-0">Mis eventos</span>
      </div>
    </ng-template>
    <p-table
      class="container"
      [paginator]="true"
      [rows]="2"
      [rowsPerPageOptions]="[3, 4, 6]"
      *ngIf="eventsList"
      [value]="eventsList"
      dataKey="id"
      editMode="row"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="header">
        <a routerLink="/form-event"> + Añadir un nuevo evento </a>
        <tr>
          <th style="width: 11.11%; text-align-last: center">Foto</th>
          <th style="width: 11.11%">Nombre</th>
          <th style="width: 11.11%">Hora Inicio</th>
          <th style="width: 11.11%">Hora Fin</th>
          <th style="width: 11.11%">Instructores</th>
          <th style="width: 11.11%">DJ</th>
          <th style="width: 11.11%">Precio</th>
          <th style="width: 11.11%">Local</th>
          <th style="width: 11.11%">Estilo Taller</th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-event
        let-editing="editing"
        let-ri="rowIndex"
      >
        <tr [pEditableRow]="event">
          <td>
            <div class="relative border-round-sm">
              <p-image
                imageClass="border-round-lg"
                class="block xl:block mx-auto w-full"
                src="{{
                  event.images && event.images.length > 0
                    ? event.images![0].url
                    : '/NOimgUser.png'
                }}"
                alt="imagen de perfil"
                width="150"
                [preview]="true"
              ></p-image>
            </div>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [formControlName]="'name'" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ event.name }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="datetime-local"
                  [formControlName]="'opening'"
                  required
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ event.opening | date: 'dd-MM-yyyy' }}<br />
                {{ event.opening | date: 'h:mm' }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="date"
                  [formControlName]="'expiration'"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ event.expiration | date: 'dd-MM-yyyy' }}<br />
                {{ event.expiration | date: 'h:mm' }}<br />
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  [formControlName]="'dance_instructors'"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{
                  event.dance_instructors
                    ? event.dance_instructors
                    : 'No definido'
                }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [formControlName]="'dj'" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ event.dj }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [formControlName]="'price'" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ event.price }} €
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  [formControlName]="'premise_id'"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ premisesMap.get(event.premise_id) }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  [formControlName]="'style_id'"
                  required
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ stylesMap.get(event.style_id) }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <div class="flex align-items-center justify-content-center gap-2">
              <p-button
                *ngIf="!editing"
                pRipple
                type="button"
                pInitEditableRow
                icon="pi pi-pencil"
                (click)="onRowEditInitE(event)"
                class="p-button-rounded p-button-text"
              />
              <p-button
                *ngIf="editing"
                pRipple
                type="button"
                pSaveEditableRow
                icon="pi pi-check"
                (click)="onRowEditSaveE(event)"
                class="p-button-rounded p-button-text p-button-success mr-2"
              />

              <p-button
                *ngIf="editing"
                pRipple
                type="button"
                pCancelEditableRow
                icon="pi pi-times"
                (click)="onRowEditCancelE(event, ri)"
                class="p-button-rounded p-button-text p-button-danger"
              />
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-tabPanel>
</p-tabView>

<!--Modal to edit schedules-->
<p-dialog
  header="Header"
  [modal]="true"
  [(visible)]="visibleScheduleModal"
  [style]="{ width: '25rem' }"
>
  <ng-template pTemplate="header">
    <div class="inline-flex align-items-center justify-content-center gap-2">
      <span>Horarios del local</span>
    </div>
  </ng-template>
  <form [formGroup]="updatePremiseForm.controls.schedule">
    <div class="flex align-items-center gap-3 mb-3">
      <label for="d1" class="font-semibold w-6rem">Lunes</label>
      <input
        pInputText
        id="d1"
        class="flex-auto"
        [formControlName]="'Monday'"
        placeholder="{{
          updatePremiseForm.controls.schedule.controls.Monday.value || 'cerrado'
        }}"
        autocomplete="off"
      />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="d2" class="font-semibold w-6rem">Martes</label>
      <input
        pInputText
        id="d2"
        class="flex-auto"
        [formControlName]="'Tuesday'"
        placeholder="{{
          updatePremiseForm.controls.schedule.controls.Tuesday.value
        }}"
        autocomplete="off"
      />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="d3" class="font-semibold w-6rem">Miércoles</label>
      <input
        pInputText
        id="d3"
        class="flex-auto"
        [formControlName]="'Wednesday'"
        placeholder="{{
          updatePremiseForm.controls.schedule.controls.Wednesday.value
        }}"
        autocomplete="off"
      />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="d4" class="font-semibold w-6rem">Jueves</label>
      <input
        pInputText
        id="d4"
        class="flex-auto"
        [formControlName]="'Thursday'"
        placeholder="{{
          updatePremiseForm.controls.schedule.controls.Thursday.value
        }}"
        autocomplete="off"
      />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="d5" class="font-semibold w-6rem">Viernes</label>
      <input
        pInputText
        id="d5"
        class="flex-auto"
        [formControlName]="'Friday'"
        placeholder="{{
          updatePremiseForm.controls.schedule.controls.Friday.value
        }}"
        autocomplete="off"
      />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="d6" class="font-semibold w-6rem">Sábado</label>
      <input
        pInputText
        id="d6"
        class="flex-auto"
        [formControlName]="'Saturday'"
        placeholder="{{
          updatePremiseForm.controls.schedule.controls.Saturday.value
        }}"
        autocomplete="off"
      />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="d7" class="font-semibold w-6rem">Domingo</label>
      <input
        pInputText
        id="d7"
        class="flex-auto"
        [formControlName]="'Sunday'"
        placeholder="{{
          updatePremiseForm.controls.schedule.controls.Sunday.value
        }}"
        autocomplete="off"
      />
    </div>
    <div class="flex justify-content-end gap-2">
      <p-button
        label="Cancelar"
        severity="secondary"
        (onClick)="visibleScheduleModal = false"
      />
      <p-button label="Guardar" (onClick)="onUpdateSchedule()" />
    </div>
  </form>
</p-dialog>

<!--<p-dialog-->
<!--  header="Modifica tus coordenadas"-->
<!--  [modal]="true"-->
<!--  [(visible)]="visibleGpsModal"-->
<!--  [style]="{ width: '25rem' }"-->
<!--&gt;-->
<!--  <div [formGroupName]="'location'" class="flex align-items-center gap-3 mb-3">-->
<!--    <label for="lat" class="font-semibold w-6rem">Latitud</label>-->
<!--    <input-->
<!--      pInputText-->
<!--      id="lat"-->
<!--      class="flex-auto"-->
<!--      placeholder="39.25684"-->
<!--      autocomplete="off"-->
<!--      [formControlName]="'lat'"-->
<!--    />-->
<!--  </div>-->
<!--  <div class="flex align-items-center gap-3 mb-3">-->
<!--    <label for="long" class="font-semibold w-6rem">Longitud</label>-->
<!--    <input-->
<!--      pInputText-->
<!--      id="long"-->
<!--      class="flex-auto"-->
<!--      placeholder="7.25684"-->
<!--      autocomplete="off"-->
<!--      [formControlName]="'long'"-->
<!--    />-->
<!--  </div>-->
<!--  <div class="flex justify-content-end gap-2">-->
<!--    <p-button-->
<!--      label="Cancelar"-->
<!--      severity="secondary"-->
<!--      (onClick)="visibleGpsModal = false"-->
<!--    />-->
<!--    <p-button label="Guardar" (onClick)="visibleGpsModal = false"/>-->
<!--  </div>-->
<!--</p-dialog>-->
