.section-icon {
  font-size: 2rem;
  color: var(--myRed);
}

.BgImg{
  background-image: url(../../../../public/fondosilueta.jpg);
}

.text-align-last {
  text-align-last: left;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  /*justify-items: center;*/
}

.containerW {
  width: 90%;
}

.goriStyles > div:first-child {
  max-width: 1200px;
  margin: 0 auto;
  color: blue;
}

.img {
  height: 120px;
  width: 150px;
  max-width: 200px;
}

.p-tabview-nav-content {
  width: 500px;
  margin: auto;
  align-content: center;
}

.customButton {
  color: white;
  background-color: #db2777;
  padding: 10px;
  border-radius: 5px;
  margin: auto;
  display: block;
  text-align: center;
  max-width: 140px;
  appearance: menulist-button;
  text-align-last: center;
}

.map-container {
  width: 25rem;
  height: 25rem;
  margin: 20px auto;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}

.add-link {
  font-weight: 500;
  color: white;
  background-color: #db2777;
  padding: 10px;
  border-radius: 8px;
  max-width: 180px;
  font-size: 13pt;
  text-decoration: none;
  appearance: menulist-button;
  box-sizing: border-box;
  text-align: center;
}
