/* You can add global styles to this file, and also import other style files */
@import 'primeicons/primeicons.css';

:root {
  /*--colorBg: ; #fdeae699*/
  --colorBg: white;
  --pinky: #ffb4f799;
  --myRed: #f21705;
  --yellorange: #fdcd12;
}

/*@font-face {*/
/*  font-family: Accuratist;*/
/*  src: url("../public/Accuratist.ttf");}*/

html {
  font-size: 14px;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--colorBg);
  font-family: var(--font-family), serif;
  font-weight: normal;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

app-classrooms,
app-conditions,
app-contact,
app-cookies,
app-events,
app-form-event,
app-form-premise,
app-guest,
app-home,
app-login,
app-logout,
app-my-account,
app-not-founded,
app-premises,
app-privacity,
app-registrations,
app-register {
  flex: 1;
}

h1 {
  /*font-family: Accuratist, Helvetica, sans-serif;*/
  color: var(--myRed);
}

.myRed {
  color: var(--myRed);
}
