<div class="flex justify-content-center flex-wrap">
  <div class="p-4 shadow-2 border-round w-full lg:w-6">
    <div class="text-center mb-5">
      <img
        ngSrc="/imgRegisterBig.png"
        alt="Image"
        height="200"
        width="250"
        class="mb-3"
      />
      <div class="text-900 text-3xl font-medium mb-3">
        Crea un evento para tu local
      </div>
    </div>

    <form [formGroup]="createEventForm" (ngSubmit)="onValidateCreate()">
      <label for="nameEvent" class="block text-900 font-medium mb-2"
        >Nombre del evento:
      </label>
      <small>{{ errorsMap.get('name') }}</small>
      <input
        [formControlName]="'name'"
        type="text"
        placeholder="Nombre del evento"
        pInputText
        id="nameEvent"
        aria-describedby="name-help"
        class="w-full mb-3"
      />

      <label for="dance_instructors" class="block text-900 font-medium mb-2"
        >¿Quién o quienes imparten el taller?:
      </label>
      <input
        [formControlName]="'dance_instructors'"
        type="text"
        placeholder="Nombre de la pareja"
        pInputText
        id="dance_instructors"
        aria-describedby="name-help"
        class="w-full mb-3"
      />

      <label for="dj" class="block text-900 font-medium mb-2">DJ: </label>
      <input
        [formControlName]="'dj'"
        type="text"
        pInputText
        id="dj"
        placeholder="Nombre del DJ"
        aria-describedby="name-help"
        class="w-full mb-3"
      />
      <br />
      <label for="opening" class="block text-900 font-medium mb-2"
        >Inicio del taller
      </label>
      <p-calendar
        id="opening"
        inputId="calendar-24h"
        dateFormat="dd.mm.yy"
        [formControlName]="'opening'"
        [showTime]="true"
        [hourFormat]="String(24)"
      />
      <br /><br />
      <label for="expiration" class="block text-900 font-medium mb-2"
        >Hora de fin del taller
      </label>
      <p-calendar
        id="expiration"
        inputId="calendar-24h"
        dateFormat="dd.mm.yy"
        [formControlName]="'expiration'"
        [showTime]="true"
        [hourFormat]="String(24)"
      />

      <br /><br />
      <label for="styles">Elige el estilo del taller: </label>
      <p-dropdown
        id="styles"
        [formControlName]="'style_id'"
        [options]="styles"
        [optionLabel]="'name'"
        placeholder="Estilo del taller"
      /><br /><br />
      <label for="price">Precio: </label>
      <p-inputNumber
        [formControlName]="'price'"
        mode="currency"
        id="price"
        inputId="currency-spain"
        currency="EUR"
        locale="es-ES"
      />
      <br /><br />
      <label for="premises">Elige el local al que lo quieres asociar: </label>
      <p-dropdown
        id="premises"
        formControlName="selectedCity"
        [options]="premisesList"
        [formControlName]="'premise_id'"
        optionLabel="name"
        placeholder="Selecciona tu local"
      />
      <br /><br />
      <p>Añade una imagen del cartel en formato JPG o PNG</p>
      <input type="file" (change)="fileChangeEvent($event)" />
      <div class="cropper-wrapper" *ngIf="imageChangedEvent !== null">
        <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [onlyScaleDown]="true"
          [aspectRatio]="4 / 3"
          [maintainAspectRatio]="false"
          output="blob"
          format="png"
          (imageCropped)="imageCropped($event)"
        >
        </image-cropper>
      </div>
      <br />
      <br />
      <div class="flex align-items-center justify-content-between mb-6">
        <br /><br />
      </div>
      {{ createEventForm.errors }}
      <div class="flex align-items-center justify-content-around mb-6">
        <p-button
          (click)="createEvent()"
          type="submit"
          label="Crear evento"
          class="p-button-success"
          severity="success"
        ></p-button>
        <p-button
          (click)="createEventForm.reset()"
          label="Borrar datos"
          severity="danger"
        />
      </div>
    </form>
  </div>
</div>
