<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Términos y condiciones de uso</title>
  </head>
  <body>
    <div class="container">
      <h1>Términos y condiciones de uso</h1>

      <h2>1. INFORMACIÓN GENERAL</h2>

      <p>
        Las presentes condiciones de uso (las “Condiciones de Uso”) regulan el
        acceso y la utilización del sitio web de BailAPPega2 alojado bajo el
        nombre de dominio www.bailappega2.com (el “Sitio Web”) y bajo cualquiera
        de los subdominios o páginas web dependientes del mismo, así como los
        contenidos y servicios que el titular del Sitio Web pone a disposición
        de sus usuarios (los “Usuarios”) y establecen junto con la Política de
        Privacidad y de Cookies, relativas a la gestión de datos de carácter
        personal de los Usuarios, los términos y condiciones por los que se rige
        el Sitio Web (los “Términos y Condiciones”).
      </p>
      <p>
        En cumplimiento del artículo 10 de la Ley 34/2002, de 11 de julio, de
        Servicios de la Sociedad de la Información y del Comercio Electrónico,
        se exponen los siguientes datos identificativos del titular del Sitio
        Web:
      </p>
      <p>
        BailAPPega2 es un proyecto formativo y no una sociedad limitada real. El
        correo electrónico de contacto es:
        esperanzaperez&#64;paucasesnovescifp.cat. El número de teléfono de
        contacto es: +34 622 820 563.
      </p>
      <p>
        El acceso al Sitio Web o su uso por el Usuario implica necesariamente, y
        sin reservas, el conocimiento y aceptación de los Términos y
        Condiciones.
      </p>
      <p>
        BailAPPega2 es una herramienta de organización de eventos con un toque
        social a través de la cual ofrece a sus usuarios el "Servicio de
        Organización de Eventos" y el "Servicio de Conexión y Emparejamiento"
      </p>
      <p>
        Mediante la prestación del Servicio de Organización de Eventos y el
        Servicio de de Conexión y Emparejamiento, BailAPPega2 actúa únicamente
        como intermediario en la gestión de eventos entre los Usuarios, quedando
        al margen de la relación contractual que se establece entre los Usuarios
        entre sí. A estos efectos, BailAPPega2 ofrece un servicio para facilitar
        a organizadores de eventos y al público en general un canal de
        emparejamiento para su asistencia, pero en ningún momento actúa en
        calidad de entidad organizadora o promotora del evento o espectáculo.
      </p>
      <p>
        El Servicio de Organización de Eventos y el Servicio de Conexión y
        Emparejamiento serán denominados conjuntamente como los “Servicios”.
      </p>
      <p>
        Para poder utilizar los Servicios ofrecidos en el Sitio Web, es
        condición necesaria que los Usuarios sean mayores de edad, por lo que,
        con la aceptación de los siguientes Términos y Condiciones, el Usuario
        manifiesta que es mayor de edad, así como que dispone de la capacidad
        necesaria para contratar los Servicios ofrecidos en el Sitio Web.
      </p>
      <p>
        En relación a lo anterior el Usuario será, en todo caso, responsable de
        la exactitud y veracidad de los datos proporcionados a BailAPPega2 a
        través del formulario de registro y procesos de emparejamiento.
      </p>
      <p>
        Aquellos usuarios menores de edad que estén interesados en contratar los
        Servicios requerirán la autorización de previa de sus padres o tutores
        legales.
      </p>

      <h2>SERVICIO DE ORGANIZACIÓN DE EVENTOS Y/O CLASES</h2>

      <h3>Descripción</h3>

      <p>
        BailAPPega2 pone a disposición de sus usuarios un servicio de
        organización de eventos y clases para que los usuarios que lo deseen
        (los “Organizadores”) puedan, de una forma rápida y sencilla, organizar
        y promocionar sus propios eventos o clases en el Sitio Web (los
        “Eventos/Clases”). Los Organizadores podrán acceder a la información
        derivada de las inscripciones a través de un área creada a tal efecto en
        el Sitio Web (el “Área de Profesionales”). BailAPPega2, únicamente,
        actúa como intermediario en la gestión de los Eventos/Clases entre los
        Organizadores y los Compradores gestionando en nombre y por cuenta de
        los Organizadores la distribución de entradas, por lo que en ningún
        momento actúa como Organizador de los Eventos ni participa en ningún
        aspecto organizativo de los mismos.
      </p>
      <p>
        BailAPPega2 concede a los usuarios, tanto bailarines como profesores y
        organizadores de eventos la posibilidad de tener una cuenta de usuario
        donde puedan actualizar su información.
      </p>
      <p>
        Los usuarios que deseen crear un evento o clase deberán ponerse en
        contacto con el administrador a través del formulario Contáctanos, que
        está en la parte de abajo del sitio web, para lo que tendrán que seguir
        las instrucciones indicadas en el Sitio Web facilitando los datos
        requeridos en el formulario correspondiente (y los datos que se les
        pueda pedir adicionales como parte de su registro como gestores de un
        local, un evento o una clase), los datos serán tratados conforme a la
        Política de Privacidad y de Cookies de BailAPPega2, así como aceptar los
        Términos y Condiciones.
      </p>
      <p>
        Una vez cumplimentado el Formulario de contacto y finalizado el proceso
        de alta, se activará su cuenta de profesional (la “Cuenta de
        Profesional”) y del Área de Profesionales. La responsabilidad de
        custodia y seguridad del nombre de Organizador y de la contraseña que
        haya indicado en el Formulario de Registro de Profesional, será del
        Organizador, por lo que asumirá la responsabilidad de todas las
        actuaciones que se realicen en el Sitio Web en virtud de su Cuenta de
        Profesional.
      </p>
      <p>
        Activado el Área de Profesionales, los Organizadores podrán dar de alta
        fácilmente sus propios Eventos que gestionarán a través de un panel de
        control habilitado para cada Evento mediante el cual podrán editar toda
        la información relativa al mismo (localización, fecha, precio de las
        entradas, etc.)
      </p>

      <h3>Prohibición de realizar sorteos y/o concursos.</h3>
      <p>
        Nuestro Sitio Web no es una plataforma de celebración de sorteos o
        concursos de ningún tipo, por lo que el Usuario al aceptar los presentes
        Términos y Condiciones, acepta declara y garantiza que no realizará ni
        publicará ningún evento bajo la modalidad de sorteos o concursos,
        quedando exonerado BailAPPega2 de cualquier reclamación de terceros que
        pudiera derivarse por el incumplimiento de cualquier usuario respecto de
        lo contenido en la presente cláusula.
      </p>
      <p>
        BailAPPega2 se reserva el derecho a eliminar y cancelar del Sitio Web
        cualquier sorteo o concurso que se active por los Organizadores.
      </p>

      <h3>Seguridad y prevención contra el fraude</h3>
      <p>
        Cualquier indicio de fraude, falsificación de datos, falsedad en las
        operaciones o suplantación de identidad será puesto en conocimiento de
        los Cuerpos y Fuerzas de Seguridad del Estado.
      </p>
      <p>
        BailAPPega2 se compromete a colaborar con los Cuerpos y Fuerzas de
        Seguridad del Estado, así como cualquier otra autoridad competente, para
        la persecución y sanción de conductas delictivas.
      </p>
      <p>
        El Organizador consiente expresamente a que en estos casos se faciliten
        de forma inmediata y directa todos sus datos de carácter personal y de
        contacto a las autoridades competentes para que la conducta sea
        perseguida y sancionada en el menor tiempo posible. El Organizador
        declara conocer este extremo y aceptarlo expresamente
      </p>
      <p>
        Se consideran indicios de fraude o de conductas ilegales, entre otros,
        los siguientes:
      </p>
      <p>Cancelación del evento por razones injustificadas.</p>
      <p>Falsedad en los datos de contacto.</p>
      <p>
        Promoción de eventos falsos, ilegales, inmorales, extremistas,
        pornográficos o violentos;
      </p>

      <h2>RESPONSABILIDAD</h2>
      <p>
        BailAPPega2 únicamente actúa como intermediario entre los Organizadores
        y los usuarios en el Servicio de la gestión de los Eventos, gestionando
        en nombre y por cuenta de los Organizadores la cantidad de usuarios que
        pueden acudir, por lo que:
      </p>
      <p>
        No asumirá responsabilidad alguna en el caso de que el Evento finalmente
        no llegue a celebrarse, debiendo dirigirse la reclamación oportuna al
        Organizador de dicho Evento quien, mediante la aceptación de los
        Términos y Condiciones, exime a BailAPPega2 de cualquier tipo de
        responsabilidad que pudiera derivarse como consecuencia de dicha
        cancelación.
      </p>
      <p>
        No se responsabiliza de los términos en los que finalmente se lleve a
        cabo el Evento. Las reclamaciones relativas a la calidad, al modo en que
        se desarrolla el Evento o a cualquier aspecto organizativo del mismo
        deberá dirigirse, únicamente, al Organizador del Evento.
      </p>
      <p>
        BailAPPega2 quedará exonerado de cualquier responsabilidad que pudiera
        derivarse de la inclusión no autorizada por parte del Organizador de los
        signos distintivos o nombres de dominio titularidad de BailAPPega2 o
        cualesquiera reproducciones o menciones que incluyan la denominación
        “BailAPPega2” en cualquier tipo de soporte que pueda exhibirse en
        espacios públicos no autorizados.
      </p>
      <p>
        El Sitio Web pueden sufrir caídas o fallos técnicos o colapsos por lo
        que BailAPPega2 garantiza que realizará sus mejores esfuerzos para
        solventar dichas incidencias en el menor tiempo posible, si bien, de
        conformidad con lo establecido en el apartado 6 de los Términos y
        Condiciones, declina cualquier responsabilidad al respecto.
      </p>

      <h2>UTILIZACIÓN DEL SITIO WEB</h2>
      <p>
        El Usuario reconoce y acepta que usa el Sitio Web en todo momento bajo
        su entero riesgo y responsabilidad, por lo que BailAPPega2 no se
        responsabiliza del mal uso, uso indebido o uso contrario a las presentes
        Condiciones que pueda realizar de los mismos.
      </p>
      <p>
        En consecuencia, los Usuarios serán enteramente responsables del
        correcto uso del Sitio Web con sujeción a la legalidad vigente, sea
        nacional o internacional, así como a los principios de buena fe, la
        moral, las buenas costumbres y el orden público, y con el compromiso de
        observar diligentemente cualquier instrucción adicional que pueda serles
        impartida por BailAPPega2.
      </p>
      <p>
        Los Usuarios se abstendrán de usar los servicios y contenidos del Sitio
        Web con fines o efectos ilícitos o fraudulentos y que sean lesivos de
        los derechos e intereses de terceros, o que de cualquier forma puedan
        dañar, inutilizar, afectar o deteriorar el funcionamiento del Sitio Web,
        sus contenidos y sus servicios. Asimismo, queda prohibido impedir la
        normal utilización o disfrute del Sitio Web a otros Usuarios. El Usuario
        será responsable de los daños y perjuicios que se originen a BailAPPega2
        como consecuencia de la mala utilización del Sitio Web o de su uso
        incumpliendo los Términos y Condiciones.
      </p>
      <p>
        BailAPPega2 no puede garantizar, de forma absoluta, que los servicios,
        prestaciones y funciones de su Sitio Web se encuentren disponibles en
        cualquier momento y lugar, ni que el software y hardware utilizados
        estén completamente libres de errores. De la misma forma, BailAPPega2 no
        puede garantizar una transmisión de datos libre de fallos, a través de
        terceros, en especial la transmisión a través de redes de
        telecomunicación y proveedores de Internet. En consecuencia, BailAPPega2
        declina cualquier responsabilidad por los daños y perjuicios de toda
        naturaleza que puedan derivarse de lo anterior.
      </p>
      <p>
        En particular, BailAPPega2 no se hace responsable de los potenciales
        daños o errores que, debidos a la presencia de cualquier virus, pueda
        sufrir el sistema informático (hardware o software) de los Usuarios
        cuando éstos accedan al Sitio Web o lo utilicen.
      </p>
      <p>
        En todo caso, BailAPPega2 sólo responderá de aquellos daños que el
        Usuario pudiera sufrir como consecuencia de una actuación dolosa, o
        manifiestamente negligente por nuestra parte, en relación con el acceso
        a nuestro Sitio Web, la prestación de nuestros servicios, así como el
        uso de nuestros contenidos, herramientas y funcionalidades.
      </p>
      <p>
        No obstante, BailAPPega2 pondrá los medios razonables a disposición del
        Usuario para que los contenidos y servicios incluidos en el Sitio Web
        sean exactos y estén actualizados.
      </p>
      <p>
        Si lo considera oportuno, BailAPPega2 podrá suspender de forma inmediata
        la prestación del servicio y, en su caso, retirar los contenidos que
        estime incorrectos o ilegales, ya lo realice a su exclusivo criterio, a
        petición de un tercero afectado o de la autoridad competente, sin que
        dicha suspensión pueda dar lugar a indemnización alguna.
      </p>

      <h2>ENLACES A TERCEROS</h2>
      <p>
        BailAPPega2 no asume responsabilidad alguna derivada de los enlaces
        (links) que posibiliten, a través del Sitio Web, el acceso al Usuario a
        prestaciones y servicios ofrecidos por terceros, siempre que sean ajenos
        al Sitio Web. Por tanto, BailAPPega2 no se hace responsable ni de la
        información contenida en los mismos ni de cualesquiera efectos que
        pudieran derivarse de dicha información.
      </p>
      <p>
        Asimismo, BailAPPega2 se reserva el derecho a retirar, de manera
        unilateral y sin previo aviso, los enlaces que aparecen en el Sitio Web.
      </p>
      <p>
        Si cualquier Usuario o tercero observara que tales enlaces puedan ser
        contrarios a las leyes, la moral o el orden público, deberá informar a
        BailAPPega2 a través del correo electrónico
        esperanzaperez&#64;paucasesnovescifp.cat.
      </p>

      <h2>PROPIEDAD INTELECTUAL E INDUSTRIAL</h2>
      <p>
        BailAPPega2 es titular o licenciataria de todos los derechos de
        propiedad intelectual e industrial incluidos en el Sitio Web, así como
        de los contenidos accesibles a través del mismo.
      </p>
      <p>
        La autorización al Usuario para el acceso al Sitio Web no supone
        renuncia, transmisión, licencia o cesión total ni parcial sobre derechos
        de propiedad intelectual o industrial por parte de BailAPPega2, por lo
        que queda terminantemente prohibido su uso.
      </p>
      <p>
        Los derechos de propiedad intelectual e industrial del Sitio Web, así
        como los textos, imágenes, diseño gráfico, estructura de navegación,
        información y contenidos que se recogen en el mismo son o bien
        titularidad de BailAPPega2 o bien ostenta sobre los mismos los derechos
        de explotación necesarios, en cualquier forma y, en especial, los
        derechos de reproducción, distribución, comunicación pública y
        transformación, de conformidad con la legislación española de derechos
        de propiedad intelectual e industrial.
      </p>
      <p>
        Los Organizadores garantizan que le han sido debidamente cedidos o que
        ostentan la titularidad de todos los derechos de propiedad intelectual e
        industrial y, en su caso, derechos de imagen, asociados a los contenidos
        que incluya en cada uno de los Eventos que cree y publique en el Sitio
        Web y, al objeto de promocionar los mimos en el Sitio Web, cede a
        BailAPPega2 todos los derechos de explotación de dichos derechos de
        propiedad intelectual e industrial. La cesión descrita se considerará
        realizada para todo el mundo y sin límite temporal.
      </p>

      <h2>CIERRE DE CUENTA DE USUARIO Y SUSPENSIÓN DEL SERVICIO</h2>
      <p>
        BailAPPega2 se reserva el derecho de admisión y de exclusión del Sitio
        Web. Cualquier Usuario que no cumpla los Términos y Condiciones, así
        como con la Política de Privacidad de BailAPPega2 podrá ser excluido del
        Sitio Web.
      </p>
      <p>
        Asimismo, BailAPPega2, podrá retirar o suspender en cualquier momento y
        sin necesidad de aviso previo la prestación de los Servicios a aquellos
        Usuarios que incumplan lo establecido en los Términos y Condiciones.
      </p>

      <h2>MODIFICACIONES A LAS CONDICIONES DE USO</h2>
      <p>
        BailAPPega2 se reserva el derecho de modificar las presentes Condiciones
        de Uso de acuerdo con la legislación aplicable en cada momento, de lo
        que informará debidamente en el Sitio Web, por lo que recomienda al
        Usuario que las revise periódicamente para estar informado de cómo
        BailAPPega2 protege su información.
      </p>

      <h2>LEGISLACIÓN</h2>
      <p>
        Las presentes Condiciones de Uso han sido elaboradas de conformidad con
        lo establecido en la normativa aplicable y, en particular, en la Ley
        34/2002, de Servicios de la Sociedad de la Información y de Comercio
        Electrónico, la Ley 7/1998 sobre Condiciones Generales de Contratación,
        el Real Decreto Legislativo 1/2007, de 16 de noviembre, por el que se
        aprueba el texto refundido de la Ley General para la Defensa de los
        Consumidores y Usuarios y otras leyes complementarias, la Ley 7/1996, de
        15 de enero, de Ordenación del Comercio Minorista.
      </p>

      <h2>LEY APLICABLE Y JURISDICCIÓN</h2>
      <p>
        Los presentes Términos y Condiciones se regirán e interpretarán de
        conformidad con la ley española.
      </p>
      <p>
        Las Partes acuerdan someterse, para la resolución de los conflictos
        derivados de su relación contractual, a los juzgados y tribunales que
        resulten competentes.
      </p>
      <p>
        En cumplimiento de lo establecido en la Directiva 2013/11/EU del
        Parlamento Europeo y del Consejo, de 21 de mayo, de 2013, relativa a la
        resolución alternativa de litigios en materia de consumo, y del
        Reglamento 524/2013 del Parlamento y del Consejo, de 21 de mayo de 2013,
        sobre resolución de litigios en línea en materia de consumo, ponemos en
        conocimiento de todos los Usuarios que podrán llevar a cabo sus
        reclamaciones en materia de consumo a través de la plataforma online de
        resolución de conflictos en línea a la cual podrán acceder a través del
        siguiente enlace http://ec.europa.eu/consumers/odr/.
      </p>
    </div>
  </body>
</html>
